{% extends 'base.html.twig' %}
{%  block title %}WELCOME{% endblock %}
{% block body %}
<div class="super_container">
	
    {# noResultFound #}
    <div class="intro">
		<div class="container">
			<div class="row">
				<div class="col">
                    {% if app.session.get('noResultFound') is defined and app.session.get('noResultFound') == 'OK' %}
                        {{ app.session.set('noResultFound', '') }}
                        <div class="alert alert-success" role="alert">
                            <b>Nous n'avons pas trouvé de résultats selon vos critères de recherche</b>
                        </div>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}