{% extends 'base.html.twig' %}
{% block title %}
    WELCOME
    
{% endblock %}
{% block body %}
    <img src="public/assets/images/error404.jpg " alt=""></div>
</div></div><div class="super_container">
<div class="intro" style="margin-top:2px">
    <div class="container">
        <div class="col-lg-10 intro_col">
            <div class="intro_item">
                <div class="intro_item_overlay"></div>
                <div class="intro_item_background" style="background-image:url(/assets/images/error404.jpg)"></div>
                <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                    <div class="button intro_button">
                        <div class="button_bcg"></div>
                        <a href="/">
                            Revenir à l'accueil
                                                                
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="intro_center text-center" style="top:-100px">
                        <h2 style="color:white">
                            Oups !! Vous êtes perdus...
                                                            
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}