{# ICI EXTENDS VEUT DIRE HERITE DE LA PAGE BASE.HTML.TWIG #}
{% extends 'base.html.twig'%} 
{% block title %}Se connecter{% endblock %}
{% block body %}
    <div class="contact">
		<div class="contact_background" style="background-image:url({{ asset("assets/images/samuele-errico-piccarini-MyjVReZ5GLQ-unsplash.jpg )")}}"></div>

		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="contact_image">
						
					</div>
				</div>
				<div class="col-lg-7">
					<div class="contact_form_container">
						<div class="contact_title">Se connecter à mon compte</div>
						{% if new_user is defined %}
							<div class="alert alert-success" role="alert">
								Votre compte a bien été crée votre logine est: <a href="#" class="alert-link">{{login}}</a>
							</div>
						{% endif %}
						<form action="#" id="contact_form" class="contact_form">
                            <input type="email" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Email" required="required" data-error="Subject is required.">
                            <input type="password" id="contact_form_subject" class="contact_form_subject input_field" placeholder="Mot de passe" required="required" data-error="Subject is required.">
							<button type="submit" id="form_submit_button" class="form_submit_button button">Se connecter<span></span><span></span><span></span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}