{% extends 'base.html.twig' %}
{% block title %}
    Landing
{% endblock %}
{% set page = 'landing' %}
{% block body %}
    <!-- Intro -->
    <div class="intro" id="intro">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="intro_title text-center">
                        Comment fonctionne CAR-RENT ?
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="intro_text text-center">
                        <p>
                            CAR-RENT est le leader sur le marché. Il est spécialisé dans la mise en relation de particulier à particulier, pour la location de véhicules.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row intro_items">
                <!-- Intro Item -->
                <div class="col-lg-6 intro_col">
                    <div class="intro_item">
                        <div class="intro_item_overlay"></div>
                        <div class="intro_item_background" style="background-image:url(/assets/images/car_park.jpg)"></div>
                        <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                            <div class="button intro_button">
                                <div class="button_bcg"></div>
                                <a href="/login">
                                    pourquoi pas ?
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="intro_center text-center">
                                <h2 style="color:white">
                                    Votre véhicule est souvent inutilisé...
                                </h2>
                                <h3 style="color:white">
                                    Il peut vous rapporter de l'argent
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Intro Item -->
                <div class="col-lg-6 intro_col">
                    <div class="intro_item">
                        <div class="intro_item_overlay"></div>
                        <div class="intro_item_background" style="background-image:url(/assets/images/road_sun.jpg)"></div>
                        <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                            <div class="button intro_button">
                                <div class="button_bcg"></div>
                                <a href="#search">
                                    c'est parti !
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                            <div class="intro_center text-center">
                                <h2 style="color:white">
                                    Vous avez un besoin ponctuel de véhicule...
                                </h2>
                                <h3 style="color:white">
                                    Louez-le à moindre coût
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	{# <p>
    	<video autoplay muted loop id="background-video" style="width: 100vw; height: 100vh; object-fit: cover">
   		    <source src="../assets/images/road_background.mp4" type="video/mp4">
    	</video> #}
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/GoN_AjrP-lo?controls=0&rel=0&autoplay=1&mute=1&loop=1&playlist=GoN_AjrP-lo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
	</p>
        <!-- Offers -->
        <div class="offers" id='offres'>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="section_title">
                            quelques offres de location
                        </h2>
                    </div>
                </div>
                <div class="row offers_items">
                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <div class="offers_image_background" style="background-image:url(/assets/images/toyota_prius.jpg)"></div>
                                        <div class="offer_name">
                                            <a href="#">
                                                toyota prius hyb
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">
                                            90 €
                                            <span>
                                                par jour
                                            </span>
                                        </div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">
                                            Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.
                                        </p>
                                        <div class="offers_link">
                                            <a href="/register">
                                                en savoir plus
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <div class="offers_image_background" style="background-image:url(/assets/images/renault_clio.jpg)"></div>
                                        <div class="offer_name">
                                            <a href="/register">
                                                renault clio rs
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">
                                            50 €
                                            <span>
                                                par jour
                                            </span>
                                        </div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">
                                            Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.
                                        </p>
                                        <div class="offers_link">
                                            <a href="/register">
                                                en savoir plus
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <div class="offers_image_background" style="background-image:url(/assets/images/mercedes_classe_s.jpg)"></div>
                                        <div class="offer_name">
                                            <a href="/register">
                                                mercedes classe s
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">
                                            110 €
                                            <span>
                                                par jour
                                            </span>
                                        </div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">
                                            Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.
                                        </p>
                                        <div class="offers_link">
                                            <a href="/register">
                                                en savoir plus
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <div class="offers_image_background" style="background-image:url(/assets/images/peugeot_508.jpg)"></div>
                                        <div class="offer_name">
                                            <a href="/register">
                                                peugeot 508 d
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">
                                            80 €
                                            <span>
                                                par jour
                                            </span>
                                        </div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">
                                            Suspendisse potenti. In faucibus massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.
                                        </p>
                                        <div class="offers_link">
                                            <a href="/register">
                                                en savoir plus
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
